.header{
	background-color: #131415;
	padding: 16px 0;
	width: 100%;
	color: white;
}
.logo {
    width: 20%;
    float: left;
    margin-top: 14px;
}
.contacts {
	width: 20%;
    float: right;
    text-align: right;
}
.contacts__tel-link{
	font-weight: bold;
	font-size: 21px;
	color: #fff;
}
.contacts__schedule{
	cursor: pointer;
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	color: rgba(248,149,19,0.7);
	text-align: right;
	padding-top: 4px;
}
.contacts__schedule:hover{
	color: #cdcdcd;
}
.contacts__schedule:hover .contacts__dropdown{
	left: -48px;
}
.contacts__dropdown{
	line-height: 25px;
	text-align: center;
	box-shadow: 0 0 20px rgba(122,122,122,0.5);
    left: -9999px;
    top: 42px;
    display: block;
    width: 160px;
    height: 70px;
    position: absolute;
}
.contacts__dropdown:before{
	left: 0;
	right: 0;
	top: -29px;
	content: "";
	height: 40px;
	position: absolute;
}
.contacts__dropdown-text{
	color: #221f1f;
	font-weight: 300;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contacts__dropdown-triangle{
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 0 solid transparent;
	border-top: 15px solid #fff;
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	transform: rotate(180deg);
	bottom:100%;
}
.color-orange{
	font-weight: 700;
	color: #f89513;
}
