.form {

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }

    &-block {
      width: 49%;

      @include tablets {
      width: 66%;
    }
      @include phones {
        width: 100%;
      }
    }
  }
 
  &__row {
    display: flex;
    margin-bottom: rem(15px);
    font-weight: 300;
    font-size: rem(14px);

    @include phones {
      justify-content: center;
      }

    &_btns {

      margin-top: rem(18px);

      @include tablets {
        margin-bottom: 0;
        margin-top: rem(37px);
      }
      @include phones {
        margin-top: rem(38px);
      }
    }

    &-btn {

      display: flex;
      align-items: flex-start;
    }
    }

  &__block {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: rem(19px);

    @include tablets {
      margin-right: rem(25px);
    }

    @include phones {
      margin-right: rem(10px);

      &:nth-child(3) {
        margin-right: 0;
      }

    }
  
    &-title {
      margin-bottom: rem(5px);
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    color: $dark;
    display: flex;
    border-radius: rem(5px);
    padding: rem(8px);
    width: 100%;
      &_txt {
        height: rem(110px);
      }
    }

  &__radio-trigger {
    margin-right: rem(20px);
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    @include tablets {
      margin-top: rem(3px);
  }

    @include phones {
        margin-top: rem(22px);
    }

    &:last-child {
      margin-right: 0;
    }
    &_custom {
      margin-right: rem(8px);
      background-color: #fff;
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: rem(15px);
      height: rem(15px);
      border-radius: 50%;
    }
    &_title {
      color: #fff;
    }
  }

  &__checkbox {
    align-items: center;
    display: flex;
    margin-top: rem(9px);

    @include phones {
      margin-top: rem(20px);
  }

    &_custom {
      margin-right: rem(9px);
      background-color: #fff;
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: rem(15px);
      height: rem(15px);
    }
    &_title {
      color: #fff;
    }
  }
}

.form__block--floor {
  @include phones {
    display: none;
  }
}

input[type="radio"]:checked + .form__radio-trigger_custom:before{
  content: "";
  display: block;
  position: absolute;
  top: rem(4px);
  right: rem(4px);
  bottom: rem(4px);
  left: rem(4px);
	background: $orange;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .form__checkbox_custom:before{
  content: "";
  background-image: url('../img/content/checkmark2.png');
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}