.header {
  position: absolute;
  padding: 0 3.5%;
  flex-wrap: nowrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(13px);

  @include tablets {
    padding: rem(13px) 8% 0 3.5%;
  }

  @include phones {
    padding: rem(13px) 8% 0 4%;
  }

}

.header__logo {
  margin-right: auto;
}

.header__menu {
  padding-bottom: rem(14px);

  @include tablets {
    display: none;
  }
}

.header__links {
  display: flex;
  align-items: center;
  margin-bottom: rem(6px);
}