.overlay-menu {
  
  display: none;

  @include tablets {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 50, 52, .99);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    flex-direction: column;
    padding: rem(13px) 3.5%;
  }

  @include phones {
    padding: rem(13px) 4%;
  }

}

.overlay-menu__header {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.overlay-menu__content {
  display: flex;
  width: 100%;
  flex: 1;
}

.overlay-menu__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
}

.overlay-menu__item {
  font-size: rem(24px);
  color: #fff;
  text-transform: uppercase;

  &:after {
    margin: rem(20px) auto;
    display: block;
    content: '';
    width: rem(5px);
    height: rem(5px);
    border-radius: rem(2.5px);
    background-color: #fff;
  }

  &:last-child:after {
    display: none;
  }
}
