.scroll {

  &__arrow {
  background-size: 100%;
  position: absolute;
  bottom: rem(38px);
  left: 50%;
  transform: translateX(-50%);
  width: rem(29px);
  height: rem(14px);
  background-image: url('../img/arrow-scroll.png');
  }
}