.section-title {
  color: $yellow;
  font-family: 'Gagalin';
  font-size: rem(72px);
  line-height: 1.42;
  font-weight: 400;
  margin: 0;

  @include phones {
    font-size: 50px;
  }
}

.section-title--hero {
  @include phones {
    font-size: rem(72px);
    margin-bottom: -6px;
  }
}

.section-title--best {
  color: $dark;

  @include phones {
    margin-bottom: 17px;
  }
}

.section-title--team {
  margin-bottom: rem(5px);

  @include phones {
    margin-bottom: 12px;
  }
}

.section-title--slider {
  margin-top: 16px;
  color: #fff;
  line-height: 0.9;
  margin-bottom: 43px;

  @include tablets {
    margin-top: 31px;
    text-align: center;
  }

  @include phones {
    line-height: 1.1;
    width: 90%;
    margin-top: 26px;
    margin-bottom: 19px;
  }
}

.section-title--menu {
  padding-top: rem(88px);
  padding-left: rem(16px);
  color: #fff;
  overflow: hidden;

  @include tablets {
    padding-left: 0;
  }
}

.section-title--order{
  text-align: center;

  @include phones {
    line-height: 1.2;
  }
}