.best {
  background: url('../img/bg/best-bg.jpg') center bottom no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title--best {
    color: $dark;
    padding: 0;
  }

  .best__list {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
  }

  .best__item {
    display: flex;
    flex-direction: column;
    width: 31.8%;
  }

  .best__pic {
    width: rem(160px);
    height: rem(149px);
    background-image: url('../img/content/about-us-sprite.png');
    background-repeat: no-repeat;
    margin: auto;
    &_meat {
      background-position: rem(32px) rem(30px);
    }
    &_hand {
      background-position: rem(-157px) rem(30px);
    }
    &_natural {
      background-position: rem(-364px) rem(33px);
    }
  }

  .best__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .best__title {
    line-height: rem(29px);
    text-align: center;
    font-family: 'lifehack', Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: rem(-0.6px);
    font-size: rem(24px);
  }

  .best__desc {
    margin-top: rem(14px);
    text-align: center;
    opacity: .8;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
  }