.best__container {
  margin-bottom: rem(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablets {
    margin-bottom: rem(152px);
  }

  @include phones {
    margin-bottom: rem(56px);
  }
}


.best {
  background: url('../img/bg/best-bg.jpg') center bottom no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    background-image: url('../img/bg/best-bg-tablets.jpg');
  }

  @include phones {
    background-image: url('../img/bg/best-bg-phones.jpg');
  }
}

.best__list {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
  width: 31.8%;

  @include phones {
    flex-direction: row;
    width: 100%;
  }
}

.best__pic {
  width: 160px;
  height: 149px;
  background-image: url('../img/content/about-us-sprite.png');
  background-repeat: no-repeat;
  margin: auto;

  @include phones {
      margin: 0;
    }

  &_meat {
    background-position: 32px 30px;

    @include phones {
      background-position: 0 0;
    }
  }
  &_hand {
    background-position: -157px 30px;

    @include phones {
      background-position: -191px 0;
    }
  }
  &_natural {
    background-position: -364px 33px;

    @include phones {
      background-position: -399px 0;
    }
  }
}

.best__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;

  @include phones {
    text-align: start;
    margin-bottom: rem(48px);
  }
}

.best__title {
  line-height: 29px;
  font-family: 'lifehack', Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.6px;
  font-size: 24px;
}

.best__desc {
  margin-top: 14px;
  opacity: .8;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}