.hero {
  background-image: url('../img/bg/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 100%;
  padding-left: rem(11px);
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 16%;

  @include tablets {
    margin-top: rem(58px);
    text-align: center;
    flex-direction: column;
    padding: 0 15%;
  }

  @include phones {
    padding: 0;
    margin-top: 28px;
  }
}

.hero__img, .hero__desc {
  width: 50%;
  @include tablets {
    width: auto; 
  }
}

.hero__img {
  margin-top: rem(-2px);
  padding-left: rem(5px);

 @include tablets {
   padding: 0;
   margin: 0;
 }

 @include phones {
    width: 83%;
  }
}

.hero__img-burger {
  max-width: 100%;
  min-height: 100%;
}

.hero__desc {
  padding-left: rem(4px);
  margin-top: rem(56px);
  
  @include tablets {
    margin-top: rem(11px);
    padding: 0;
  }

  @include phones {
    margin-top: 21px;
  }
}

.hero__desc-text {
  letter-spacing: rem(-1.5px);
  margin-top: rem(10px);
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 400;
  line-height: rem(60px);

  @include tablets {
    margin-top: rem(14px);
  }

  @include phones {
    font-size: rem(57.14px);
    margin-top: 0;
    line-height: 1.2;
  }
}