.menu {
  background: url('../img/bg/menu-bg.jpg') center center no-repeat;
  background-size: cover;
}

.menu__container {
  width: 100%;
  max-width: 940px;
  margin: auto;
}

.menu__acco {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  @include phones {
    justify-content: flex-end;
    left: 0;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.menu__item {
  display: flex;

  &_active {

    @include phones {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
    }
  }

  &_active .menu__acco-text {
    max-width: rem(540px);
    padding: rem(62px) rem(34px);

    @include tablets {
      max-width: rem(588px);
    }

    @include phones {
      width: 90%;
    }
  }
  &_active .menu__acco-title {
    color: $yellow;

    @include phones {
    min-width: auto;
    width: 10%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  }

  &_active .menu__acco-content {

    @include phones {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: flex-end;
    }
  }

  &_active .menu__item {
    @include phones {
      width: 88%;
    }
  }

}

.menu__acco-content {
  display: flex;
}

.menu__acco-title {
  width: rem(80px);
  position: relative;
  cursor: pointer;
  font-family: 'Gagalin';
  font-size: rem(40px);
  color: #fff;
  background-size: cover;
  overflow: hidden;

  @include tablets {
    width: rem(60px);
    min-width: rem(60px);
  }

  @include phones {
    width: 12%;
    min-width: 49px;
  }

  &_m {
    background-image: url("../img/content/menu-content-m.jpg");
    background-position: center;
  }

  &_v {
    background-image: url("../img/content/menu-content-v.jpg");
    background-position-x: 160px;
  }

  &_d {
    background-image: url("../img/content/menu-content-d.jpg");
    background-position: right;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.7);
  }
}

.menu__acco-rotate {
  z-index: 2;
  padding-left: rem(40px);
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: rotateZ(-90deg) translateY(-50%);
  transform-origin: 0 0;
  white-space: nowrap;
}

.menu__acco-text {
  overflow: hidden;
  max-width: 0;
  background: rgba(47, 50, 52, 0.93);
  font-size: rem(14px);
  font-weight: 300;
  color: #fff;
  line-height: rem(26px);
  transition: all 1s;
}

.menu__acco-close {
  display: none;

  @include phones {
    display: flex;
    justify-content: flex-end;
  }
}