.menu {
  background: url('../img/bg/menu-bg.jpg') center center no-repeat;
  background-size: cover;
}

.menu__container {
  width: 100%;
  max-width: rem(940px);
  margin: auto;
}

.menu__acco {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu__item {
  display: flex;

  &_active .menu__acco-text {
    max-width: rem(540px);
    padding: rem(62px) rem(34px);

    @include tablets {
      max-width: 530px;
    }
  }
  &_active .menu__acco-title {
    color: $yellow;
  }
}

.menu__acco-content {
  display: flex;
}

.menu__acco-title {
  width: rem(80px);
  position: relative;
  cursor: pointer;
  font-family: 'Gagalin';
  font-size: rem(40px);
  color: #fff;

  @include tablets {
    width: rem(60px);
    min-width: rem(60px);
  }

  &_m {
    background-image: url("../img/content/menu-content-m.jpg");
    background-position: center;
  }

  &_v {
    background-image: url("../img/content/menu-content-v.jpg");
    background-position-x: 160px;
  }

  &_d {
    background-image: url("../img/content/menu-content-d.jpg");
    background-position: right;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.7);
  }
}

.menu__acco-rotate {
  z-index: 2;
  padding-left: rem(40px);
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: rotateZ(-90deg) translateY(-50%);
  transform-origin: 0 0;
  white-space: nowrap;
}

.menu__acco-text {
  overflow: hidden;
  max-width: 0;
  background: rgba(47, 50, 52, 0.93);
  font-size: rem(14px);
  font-weight: 300;
  color: #fff;
  line-height: rem(26px);
  transition: all 1s;
}