.order {
  background: url('../img/bg/order-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 25px;
  &__elem {

  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-block {
      width: 49%;
    }
  }
 
  &__row {
    display: flex;
    margin-bottom: 17px;
    &_comment {
      height: 59%;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
  
    &-title {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 300;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__input {
    color: $dark;
    font-weight: 300;
    font-family: 'Ubuntu';
    border: 2px solid white;
    font-size: 14px;
    display: flex;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
      &-txt {
        flex: 1;
      }
    }
  &__radio-trigger {
    margin-right: 21px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    &:last-child {
      margin-right: 0;
    }
    &_custom {
      margin-right: 9px;
      background-color: #fff;
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    &_title {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
    }
  }
  &__checkbox {
    align-items: center;
    margin-top: 6px;
    display: flex;
    &_custom {
      margin-right: 9px;
      background-color: #fff;
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
    }
    &_title {
      font-size: 14px;
      font-weight: 300;
      color: #fff;
    }
  }
}

.order-link--transparent {
  text-transform: none;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  margin-left: 5px;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}


input[type="radio"]:checked + .form__radio-trigger_custom:before{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
	background: $orange;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .form__checkbox_custom:before{
  content: "";
  background-image: url('../img/content/checkmark2.png');
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
}

textarea, input{
    border-radius: 2px;
    outline: none;
    resize: none;
    border: 2px solid #fff;
}

input:focus, textarea:focus{
    border: 2px solid $yellow;
}