.order {
  background: url('../img/bg/order-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;
  justify-content: center;

  @include tablets {
    margin-bottom: rem(119px);
  }

  @include phones {
    margin: 0 auto;
  }
}