.order {
  background: url('../img/bg/order-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tablets {
    margin-bottom: rem(120px);
  }

  @include phones {
    margin-bottom: 4px;
  }
}