.reviews__container {
    height: 100%;
    width: 100%;
}

.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    display: flex;
    align-items: center;
    flex: 0 0 25%;
    position: relative;
    filter: grayscale(100%);
    background-size: cover;
    overflow: hidden;
    background-position: top center;
    justify-content: center;

    @include tablets {
        background-position: center center;
        flex: 0 0 50%;
        height: 25%;
    }

    &-photo1 {
        background-image: url('../img/content/reviews/photo1.jpg');
    }
    &-photo2 {
        background-image: url('../img/content/reviews/photo2.jpg');
    }
    &-photo3 {
        background-image: url('../img/content/reviews/photo3.jpg');
    }
    &-photo4 {
        background-image: url('../img/content/reviews/photo4.jpg');
    }
    &-photo5 {
        background-image: url('../img/content/reviews/photo5.jpg');
    }
    &-photo6 {
        background-image: url('../img/content/reviews/photo6.jpg');
    }
    &-photo7 {
        background-image: url('../img/content/reviews/photo7.jpg');
    }
    &-photo8 {
        background-image: url('../img/content/reviews/photo8.jpg');
    }
    &::after {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        background: transparent;
        z-index: 1;
        transition: all .3s;
    }
    &:hover::after {
        background-color: rgba(20, 20, 20, .7);
    }
    &:hover .reviews__item-content{
        opacity: 1;
        transform: scale(1);
    }
}

.reviews__item-content {
    transform: scale(.9);
    opacity: 0;
    z-index: 2;
    padding: 0 rem(20px);
    transition: all .3s;
    position: relative;

    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 rem(42px);
    }
}

.reviews__item-title {
    color: #fff;
    font-weight: 400;
    margin-bottom: rem(20px);
    font-family: 'gagalin', Arial, Helvetica, sans-serif;
    font-size: rem(14px);
    
    @include phones {
      font-size: rem(24px);
      text-align: center;
    }

}

.reviews__item-text {
    color: #fff;
    word-spacing: rem(-0.3px);
    line-height: rem(24px);
    font-size: rem(14px);

    @include tablets {
        text-align: center;
    }

    @include phones {
        display: none;
    }
}

.reviews__item-footer {
    margin-top: rem(13px);

    @include phones {
        text-align: center;
    }
}

.reviews__btn {
    color: #fff;
    display: block;
    font-size: rem(13px);
    font-weight: 500;
    line-height: rem(35px);
    text-align: center;
    text-transform: uppercase;
    width: rem(110px);
    height: rem(35px);
    border-radius: rem(4px);
    background-color: $dark;

    &:hover {
        background-color: darken($dark, 7%);
    }

    &:after {
        content: "Подробнее";
        width: 100%;
        height: 100%;

        @include phones {
            content: "Читать отзыв";
        }
    }

    @include phones {
            width: rem(127px);
        }
}

.reviews__overlay {
    background-color: rgba(47, 50, 52, .92);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.reviews__overlay-window {
    background-color: #fff;
    border-radius: rem(6px);
    display: flex;
    flex-direction: column;
    width: rem(460px);
    padding: rem(20px);

    @include tablets {
        width: rem(480px);
    }

    @include phones {
        width: 96%;
        padding: 5% 4%;
    }
}

.reviews__overlay-header {
    margin-bottom: rem(18px);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.reviews__overlay-title {
    color: $dark;
    font-family: 'gagalin', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.reviews__overlay-text {
    line-height: rem(24px);
    width: 100%;
    color: $dark;
    font-weight: 300;
}