.slider {
  display: flex;
  background: linear-gradient($yellow, #ea8e37, $yellow);
  background-size: cover;
}

.slider__container {
  position: relative;
  overflow: hidden;
  max-width: calc(940px + 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

   @include tablets {
    padding: 0;
  }  
}

.slider-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 940px;

  @include slider1020 {
    width: 768px;
  }

  @include tablets {
    width: 768px;
  }

  @include phones {
    width: 480px;
  }
}

.slider__outer {
  position: relative;
  overflow: hidden;
}

.slider__list {
  display: flex;
  position: relative;
}

.slider__item {
  width: 940px;
  position: relative;

  @include slider1020 {
    width: 768px;
    position: initial;
  }

  @include tablets {
    width: 768px;
    display: flex;
    justify-content: center;
  }

  @include phones {
    width: 480px;
    position: initial;
  }
}

.slider__side {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider__side--left {
  left: -7px;

  @include tablets {
    left: 0;
  }
}

.slider__side--right {
  right: -7px;

  @include tablets {
  right: 0;
  }
}

.slider-arrow-link {
  display: flex;
}

.slider__arrow {
  fill: #fff;
  width: 27px;
  height: 14px;
  cursor: pointer;

  &-left {
    transform: rotate(90deg);
  }

  &-right {
    transform: rotate(-90deg);
  }
}

.slider__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include tablets {
    flex-direction: column;
    width: 75%;
    position: relative;
  }

  @include slider575 {
    width: 60%;
  }

  @include phones {
    width: 80%;
  }

  @include slider420 {
    width: 63%;
  }
}

.slider__content-block {
  width: 49%;
  position: relative;

  @include tablets {
    margin-top: 2px;
    width: auto;
  }

  @include phones {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.slider__content-block--burger {

  @include tablets {
    padding: 0 2%;
  }

  @include phones {
  }
}

.slider__menu-btn {
  z-index: 10;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  background-color: #f08c33;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: .3s;

  &:hover {
    background-color: $orange;
  }

  &:hover + .slider-compos {
    opacity: 1;
  }

  @include tablets {

    &:hover {
      background-color: #f08c33;
    }

    &:hover + .slider-compos {
      opacity: 0;
    }
  }
}

.slider__menu-svg {
  fill: #fff;
  width: 46px;
  height: 44px;
}

.slider__menu-title {
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  font-family: Gagalin;
  margin-bottom: -7px;
}

.slider-compos {
  z-index: 1000;
  top: 0;
  left: 90px;
  position: absolute;
  width: 59%;
  border-radius: 4px;
  background-color: rgba(255,255,255,.9);
  opacity: 0;
  transition: .3s;
  padding: 20px 21px;

  @include tablets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 68%;
    top: 0;
    left: 90px;
    padding: 13px 18px;
    min-width: 260px;
  }

  @include phones {
    width: 80%;
    min-width: 280px;
  }
}

.slider-compos__list {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 81%;
  }

  @include phones {
    width: 72%;
  }
}

.slider-compos__item {
  margin-bottom: 7.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.slider-compos__img {
  width: 43px;
  height: 43px;

  &_beef {
    fill: $orange;
  }

  &_buns {
    fill: $yellow;
  }

  &_salad {
    fill: $green;
  }
  
  &_sauce {
    fill: $orange;
  }

  &_cucumber {
    fill: $green;
  }

  &_cheese {
    fill: $yellow;
  }
}

.slider-compos__title {
  margin-left: 26px;
  font-weight: 500;
}

.slider-compos__weight {
  flex: 1;
  font-weight: 300;
  text-align: right;
}

.slider-compos__close {
  display: none;

  @include tablets {
    display: initial;
  }
}

.slider__hero {
  padding: 17% 0;

  @include slider1020 {
    padding: 22% 0;
  }


  @include tablets {
    padding: 75px 0 0 0;
  }

  @include phones {
    width: 84%;
    padding: 100px 0 0 0;
  }
}

.slider__hero-title {
  color: rgba(255,255,255,.5);
  font-family: Gagalin;
  position: absolute;
}

.slider__hero-title--top {
  bottom: 27px;
  font-size: 20px;
  left: 14px;

  @include tablets {
    bottom: inherit;
    left: inherit;
    top: 25px;
    right: 11px;
  }

   @include phones {
    right: 12px;
  }
}

.slider__hero-title--bottom {
  left: 16px;
  bottom: 0;
  font-size: 14px;
  text-transform: uppercase;

  @include tablets {
    top: 61px;
    right: 13px;
    bottom: inherit;
    left: inherit;
  }

  @include phones {
    right: 12px;
  }
}

.sliger__img {
  max-width: 100%;
  min-height: 100%;
}

.slider__kkal-svg {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  bottom: 20px;
  fill:rgba(255,255,255,.5);

  @include tablets {
    top: 0;
    right: 0;
    bottom: inherit;
    left: inherit;
  }

  @include phones {
    right: 0;
  }
}

.slider__desc {
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;

  @include tablets {
    text-align: center;
    margin-bottom: 16px;
  }

  @include phones {
    margin-bottom: 0;
  }
}

.slider__order {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  width: 100%;

  @include tablets {
    justify-content: flex-end;
    padding: 3px 0;
  }

  @include phones {
    padding: 0;
  }
}

.slider__order-block {
  width: 50%;

  @include tablets {
    text-align: right;
    width: 43%;
  }

  @include phones {
    text-align: right;
    width: 47%;
  }
}

.slider__order-block--btn {
  padding-bottom: 19px;
  display: flex;
  align-items: flex-end;

  @include slider1020 {
    width: 40%;
  }

  @include tablets {
    justify-content: flex-start;
    padding-left: 28px;
    width: 43%;
  }

  @include phones {
    width: 47%;
    padding-bottom: 13px;
    padding-left: 28px;
  }
}

.slider__order-block--price {

  @include slider1020 {
    width: 100%;
  }

  @include tablets {
    width: 50%;
  }

  @include phones {
    width: 50%;
    padding-top: 8px;
  }
}

.slider__order-text {
  color: $orange;
  font-family: Gagalin;
}

.slider__order-text--big {
  font-size: 72px;

  @include phones {
    font-size: 50px;
  }
}

.slider__order-text--little {
  font-size: 30px;

  @include phones {
    font-size: 24px;
  }
}

.owl-carousel .owl-stage {
  align-items: center;
  display: flex;
}