.team {
  background: url('../img/bg/team-bg.jpg') center center no-repeat;
  background-size: cover;
}

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: rgba(#2f3234, .93);
  display: flex;
  flex-direction: column;
  padding-top: rem(89px);
  padding-left: 5.7%;

  @include tablets {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}

.team__content {
  display: flex;
  flex-direction: column;
  width: rem(350px);

  @include tablets {
    margin-bottom: rem(78px);
    width: auto;
    justify-content: center;
    align-items: center;
  }

  @include phones {
    margin:0;
  }
}

.team-acco__item {
  display: flex;
  flex-direction: column;

  @include tablets {
    align-items: center;
  }

  @include phones {
    margin-bottom: rem(12px);
  }
}

.team-acco__item--active {
  height: auto;
  .team-acco__tr {
  color: $yellow;

  &:before {
      transform: rotate(-180deg);
    }
  }
  .team-acco__content {
    opacity: 1;
    height: auto;

    @include tablets {
    margin-bottom: rem(16px);
  }
    @include phones {
      margin-bottom: rem(14px);
    }
    
  }
}

.team-acco__tr {
  margin-top: rem(21px);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: rem(14px);
  font-family: 'Gagalin';
  margin-bottom: rem10px;

  &:before {
    margin-right: rem(10px);
    content: "";
    height: 0;
    width: 0;
    border: rem(4.5px) solid transparent;
    border-top-color: #f8b43a;
    border-bottom-width: 0;
  }
  @include tablets {
    margin-top: rem(12px);
    font-size: rem(24px);
  }

  @include phones {
    margin: 0 0 rem(12px) 0;
  }
}

.team-acco__content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  flex-flow: row nowrap;
  display: flex;
  transition: all .5s;

  @include tablets {
    flex-flow: column wrap;
  }
}

.team-acco__wrap {
  display: flex;
  margin-left: rem(17px);
  margin-bottom: rem(18px);

  @include tablets {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}

.team-acco__pic {
  margin-top: rem(4px);
  justify-content: center;
  height: rem(100px);
  width: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(21px);
  align-items: center;
  display: flex;
  
  @include tablets {
    margin: 0 0 rem(18px) 0;
  }

  @include phones {
    margin: 0 0 rem(15px) 0;
  }
}

.team-acco__text {
  flex: 50%;
  flex-direction: column;
  display: flex;

  @include tablets {
    text-align: center;
  }
}

.team-acco__text-title {
  margin-bottom: rem(14px);
  font-size: rem(14px);
  color: #fff;
  font-weight: bold;

  @include phones {
    margin-bottom: rem(13px);
  }
}

.team-acco__text-content {
  line-height: rem(24px);
  font-weight: 300;
  font-size: rem(14px);
  color: #fff;

  @include tablets {
    padding: 0 28%;
  }

  @include phones {
    padding: 0 15%;
  }
}