html, body{
	width: 100%;
	height: 100%;
}
input, textarea{
	box-sizing: border-box;
}
body{ 
    font-family: 'Open Sans', sans-serif, Arial; 
    color:#fff; 
	font-size: 14px; 
}
ul{
    padding: 0;
	margin: 0;
	list-style: none;
}
h4{
	font-weight: bold;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
p{
	margin: 0;
	padding: 0;
}
address{
	font-style: normal;
}
::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif, Arial; 
	color: rgba(34, 31, 31, 0.5);
	font-weight: 300;
	font-size: 14px;
}
::-moz-placeholder{
	font-family: 'Open Sans', sans-serif, Arial; 
	color: rgba(34, 31, 31, 0.5);
	font-weight: 300;
	font-size: 14px;
}
:-moz-placeholder{
	font-family: 'Open Sans', sans-serif, Arial; 
	color: rgba(34, 31, 31, 0.5);
	font-weight: 300;
	font-size: 14px;
}
:-ms-input-placeholder{
	font-family: 'Open Sans', sans-serif, Arial; 
	color: rgba(34, 31, 31, 0.5);
	font-weight: 300;
	font-size: 14px;
}
.visuallyHidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.clear:after{
	content:""; display:block;clear:both;
}