.wrapper {
  width: 100%; 
  height: 100%;
  overflow: hidden;
}

.maincontent {
  min-height: 650px;
  height: 100%;
}

.section{
  min-height: 650px;
  position: relative;
  overflow: hidden;


  @include phones {
    width: 92%;
    padding: 0;
  }

}

.container {
  max-width: 940px;
  height: 100%;
  margin: 0 auto;

  @include tablets {
    padding: 0 3.5%;
  }

  @include phones {
    width: 92%;
    padding: 0;
  }
}

::-webkit-input-placeholder {
	color: $dark;
	font-weight: 300;
	font-size: rem(14px);
}
::-moz-placeholder{
	color: $dark;
	font-weight: 300;
	font-size: rem(14px);
}
:-moz-placeholder{
	color: $dark;
	font-weight: 300;
	font-size: rem(14px);
}
:-ms-input-placeholder{
	color: $dark;
	font-weight: 300;
	font-size: rem(14px);
}

textarea, input{
    border-radius: rem(2px);
    outline: none;
    resize: none;
    border: rem(2px) solid #fff;
}

input:focus, textarea:focus{
    border: rem(2px) solid $yellow;
}