
#fp-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    right: 3%;
    opacity: 1;
    transform: translateY(-50%);

    @include tablets {
        display: none;
    }
    
}

#fp-nav ul {
    display: flex;
    flex-direction: column;
}

#fp-nav li {
    display: flex;
    margin-bottom: 5px;
    list-style: none;
}

#fp-nav a { 
    border: 1px solid transparent;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 10em;
}

#fp-nav a:hover { 
    box-sizing: border-box;
    border: 1px solid #fff;
}

#fp-nav span { 
    margin: auto;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 4px;
}