*{
  box-sizing: border-box;
}
body {
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
section{
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: 'gagalin';
  src: url(../fonts/gagalin-regular-webfont.woff2);
  src: url(../fonts/gagalin-regular-webfont.woff);
  font-style: normal;
}
@font-face {
  font-family: 'lifehack';
  src: url(../fonts/lifehack_medium-webfont.woff2);
  src: url(../fonts/lifehack_medium-webfont.woff);
  font-style: normal;
  font-display: optional;
}
.visuallyHidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.wrapper{
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}
.main-nav{
  z-index: 10;
  position: fixed;
  right: 50px;
  top: 91px;
}
.main-nav-list{
  display: flex;
  flex-direction: column;
}
.main-nav-item{
  display: flex;
  margin-bottom: 5.1px;
  list-style: none;
}
.main-nav-link{
  border: 1px solid transparent;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 10em;
}
.main-nav-elipse{
  margin: auto;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 10em;
  margin-top: 4px;
}
.main-nav-link:hover{
  box-sizing: border-box;
  border: 1px solid #fff;
}
.container{
  position: relative;
  width: 940px; 
  margin: 0 auto;
}
.burger{
  position: relative;
  background-color: #000;
  background-image: url(../img/video-bg.png);
  color: #fff;
}
.burger__header{
  justify-content: space-between;
  padding-top: 13px;
  display: flex;
}
.burger__nav{
  margin-top: 15px;
}
.burger__nav-list{
  padding: 0;
  margin: 0;
  display: flex;
}
.burger__nav-item{
  margin-right: 16px;
  text-align: center;
  line-height: 35px;
}
.burger__nav-link {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}
.burger__nav-item::before{
  box-sizing: border-box;
  margin-right: 11px;
  vertical-align: middle;
  display: inline-block;
  background-color: #fff;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 10em;
}
.burger__nav-item:first-child::before{
  content: none;
}
.burger__nav-item:last-child::before{
  content: none;
}
.burger__nav-item:last-child{
  margin-right: 0;
  margin-top: 1px;
  width: 97px;
  height: 35px;
  list-style: none;
  background-color: #e45028;
  border-radius: 5px;
}
.burger__content{
  display: flex;
}
.burger__main{
  position: relative;
  width: 50%;
}
.burger__main-burger{
  margin: -8px 0px 0px 50px;
}
.burger__main-drops{
  position: absolute;
  left: 16px;
  top: 60px;
}
.burger__title{
  margin-top: 130px;
  padding-left: 10px;
  width: 50%;
}
.burger__title-up{
  font-weight: 400;
  font-family: 'gagalin', Arial, Helvetica, sans-serif;
  font-size: 72px;
  color: #f9b43b;
  display: block;
}
.burger__title-down{
  line-height: 61px;
  letter-spacing: -1.6px;
  font-weight: 500;
  font-family: 'lifehack', Arial, Helvetica, sans-serif;
  font-size: 65px;
  color: #fff;
  display: block;
  margin-top: 19px;
}
.scroll-arrow{
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -14.5px;
  width: 29px;
  height: 14px;
  background-image: url(../img/arrow-scroll.png);
}
.about-us{
  background-color: #000;
  background-image: url(../img/about-us/bg.png);
  color: #2f3234;
}
.about-us__title{
  text-align: center;
  padding-top: 121px;
  font-weight: 400;
  font-family: 'gagalin', Arial, Helvetica, sans-serif;
  font-size: 72px;
}
.about-us__content{
  margin-top: 10px;
}
.about-us__list{
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
}
.about-us__item{
  display: flex;
  flex-direction: column;
  width: 31.8%;
}
.about-us__item-sprite{
  width: 160px;
  height: 150px;
  background-image: url(../img/about-us/about-us-sprite.png);
  background-repeat: no-repeat;
  margin: auto;
}
.about-us__item-sprite_meat{
  background-position: 32px 30px;
}
.about-us__item-sprite_hand{
  background-position: -157px 30px;
}
.about-us__item-sprite_natural{
  background-position: -364px 32px;
}
.about-us__item-title{
  line-height: 29px;
  text-align: center;
  font-family: 'lifehack', Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -0.6px;
}
.about-us__item-text{
  margin-top: 12px;
  text-align: center;
  opacity: .8;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}